* {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;

}

.help-area-wrapper {
    background-image: linear-gradient(rgba(255, 254, 254, 0.089), rgba(0, 0, 0, 0.774)), url("images/donation1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



.help-content-wrapper {
    padding: 200px 0;
    position: relative;
    z-index: 1;
}

.help-content-wrapper h1 {
    font-size: 60px;
    padding: 0 300px;
    color: skyblue;
    text-align: center;
    margin-bottom: 20px;
}

.help-content-wrapper p {
    font-size: 17px;
    color: rgb(206, 231, 223);
    text-align: center;
    padding: 0 400px;
    margin-bottom: 40px;
}

.donate-btn-w {
    text-align: center;

}

.donate-btn-w a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(tomato, orange);
    display: inline-block;
    border-radius: 7px;
}

/*Help Section End*/

.donate-content-wrapper {
    padding: 50px 0;
}

.donate-content-wrapper h1 {
    font-size: 40px;
    text-align: center;
    padding: 20px 0;
}

.donate-content-wrapper p {
    font-size: 17px;
    text-align: center;
    padding: 10px 400px;
    color: rgb(78, 75, 75);
    margin-bottom: 30px;
}

.taka-area-w {
    display: flex;
    justify-content: space-evenly;
    padding: 30px 200px;
}

.taka-area-w h2 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 50px;
}

.taka-area-w h2 span {
    color: red;
    background-color: rgb(238, 209, 209);
    padding: 30px 25px;
    border: 2px solid red;
    border-radius: 5px;
}

.donate-content-wrapper h4 {
    text-align: center;
    margin-bottom: 10px;
}

hr {
    width: 80%;
    text-align: center;
    color: gray;
    margin: 0 10%;
    margin-bottom: 20px;
}

/*donate area end*/

.donate-plan-content-wrapper {
    padding: 30px 50px;
}

.heading-wrapper {
    text-align: center;
    padding: 30px;
}

.heading-wrapper h1 {
    font-size: 30px;
    line-height: 50px;
    margin-bottom: 10px;
}

.heading-wrapper p {
    padding: 0 300px;
    font-size: 15px;
}

.incon-section-wrapper {
    display: flex;
}

.same-blog {
    padding: 10px;
}

.food-area-w {
    background: aliceblue;
    padding: 60px 20px;
}

.same-blog img {
    width: 50px;
    margin-bottom: 15px;
}

.same-blog h2 {
    margin-bottom: 10px;
}

.shelter-area-w {
    padding: 60px 20px;
    background: beige;
}

.education-area-w {
    padding: 60px 20px;
    background: bisque;
}

/*donate plan end*/


.depend-img-content-wrapper {
    display: flex;
    padding: 50px;
}

.text-area {
    flex: 0 0 50%;
}

.text-area-w {
    padding: 40px;
}

.text-area-w h1 {
    font-size: 40px;
    padding-right: 40px;
    margin-bottom: 20px;
}

.text-area-w p {
    color: #666262;
    padding-right: 100px;
    margin-bottom: 20px;
    line-height: 20px;
    font-size: 15px;
}

.img-area {
    flex: 0 0 50%;
}

.img-area-w img {
    width: 75%;
    padding: 20px;
}

.Contribute-btn-w a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 18px;
    color: white;
    background-image: linear-gradient(tomato, orange);
    display: inline-block;
    border-radius: 7px;
}

/*text img end*/


.update-content-wrapper {
    padding: 50px 0;
}

.head-area-wrapper h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.head-area-wrapper p {
    text-align: center;
    padding: 0 350px;
    margin-bottom: 50px;
}

.email-section {
    background: antiquewhite;
    padding: 70px;
    margin: auto;
    width: 500px;
}

.email-section-wrapper {
    display: flex;
    justify-content: center;
}

input#email {
    padding: 10px;
    background: #c8cdd1;
    border-radius: 5px 0 0 5px;
    border: none;
}

.button {
    background: #d76551;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 0 5px 5px 0;
    color: white;
    border: none;
}

/* footer */

.footer {
    padding: 50px 0;
    background: black;
}

.footer-wrapper h2 {
    color: tomato;
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.footer-wrapper p {
    color: #c3b7e1;
    text-align: center;
    font-size: 13px;
}